<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <a href="/v0-1">v0.1</a>
      <!--
      <div class="row">
        <div class="col" style="background-color:#444;width:570px;height:760px;">
          <video width="570" height="760" autoplay muted>
            <source src="./ads1/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col">
          <iframe frameborder="0" width="1350" height="760" src="//www.dailymotion.com/embed/video/x4nwi47?autoplay=1" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <video width="1303" height="265" autoplay muted>
            <source src="./ads2/2.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col">
          <video width="618" height="265" autoplay muted>
            <source src="./ads3/3.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      -->
    
    <!--
    
    
    -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
